<app-header></app-header>
<app-main-header></app-main-header>

<section class="hero-section">
  <video #bgVideo autoplay muted loop playsinline id="bg-video">
    <source src="assets/videos/farm.mp4" type="video/mp4">
  </video>
  <div class="content-overlay">
    <h1 class="title">Agricultura sustentável é a nossa paixão</h1>
    <p class="subtitle">Se você trabalha com produção orgânica e deseja divulgar seu trabalho podemos dar uma mãozinha
    </p>
    <button class="cta-button">INICIAR CADASTRO</button>
  </div>
  <div class="bottom-line"></div>
</section>