.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 1.1rem;
  }
  
  @media (max-width: 991.98px) {
    .navbar-nav {
      margin-top: 1rem;
    }
    
    form {
      margin-top: 1rem;
    }
  }


  .cursor-pointer {
    cursor: pointer;
}